@using Resources
@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="wrapper">
    <div class="col-md-2">
        <div class="row">
            <div class="page-header" >
                <h1>
                    <span id="servingNumberA"></span>
                    <span id="servingTypeA"></span>
                </h1>
                
            </div>
            <button class="btn btn-primary" id="nextA">@Global.SLEDEN</button>
            <br/>
            <div class="buttonsPZ">
                <button class="btn btn-primary" id="servedA">@Global.POSLUZEN</button>
                <button class="btn btn-primary" id="canceledA">@Global.ZAMINAL</button>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive" style="height: 250px; overflow: hidden;">
                <table class="table" id="tableA"></table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <iframe width="430" height="345" src="https://www.youtube.com/embed/S2nBBMbjS8w?autoplay=1;controls=0;loop=1;showinfo=0" frameborder="0"></iframe>
    </div>
    <div class="col-md-2">
        <div class="page-header">
            <h1>
                <span id="servingNumberB"></span>
                <span id="servingTypeB"></span>
            </h1>
        </div>
        <button class="btn btn-primary" id="nextB">@Global.SLEDEN</button>
        <br />
        <div class="buttonsPZ">
            <button class="btn btn-primary" id="servedB">@Global.POSLUZEN</button>
            <button class="btn btn-primary" id="canceledB">@Global.ZAMINAL</button>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table" id="tableB"></table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <iframe width="430" height="345" src="https://www.youtube.com/embed/S2nBBMbjS8w?autoplay=1;controls=0;loop=1;showinfo=0" frameborder="0"></iframe>

    </div>

</div>
<hr />
<div id="enterQueue">
    @Html.ActionLink("Report", "GetReport", "Report")
    <br />
    @Html.ActionLink("Enter", "Enter")
    <div class="pull-right">
        <button class="btn btn-primary" id="fizicko-lice">@Global.FIZICKO_LICE</button>
        <button class="btn btn-primary" id="pravno-lice">@Global.PRAVNO_LICE</button>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#servedA, #servedB, #canceledA, #canceledB").attr("disabled", true);
            updateWaitingLists();

            $("#fizicko-lice").click(function() {
                queueTake('A');
            });

            $("#pravno-lice").click(function() {
                queueTake('B');
            });

            function queueTake(type) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("TakeNumber", "Home")",
                    data: { ServiceType: type },
                    success: function(data) {
                        updateWaitingLists();
                        //alert("Uspesno podignat broj za shalter");
                    },
                    error: function(r, e) {
                        alert('Greska!');
                    }

                });
            }


            $("#nextA").click(function() {
                startServing('A');
            });

            $("#nextB").click(function() {
                startServing('B');

            });

            function startServing(type) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("StartServing", "Home")",
                    data: { ServiceType: type },
                    success: function(data) {
                        if (type == 'A') {
                            if (data.Id == 0) {
                                $('#servingNumberA').html('END');
                            } else {
                                $('#servingNumberA').html(data.ServiceNumber);
                                $("#servingTypeA").html(data.ServiceType);
                                $("#servedA, #canceledA").attr("disabled", false);
                                $("#nextA").attr("disabled", true);
                            }
                        }
                        if (type == 'B') {
                            if (data.Id == 0) {
                                $('#servingNumberB').html('END');
                            } else {
                                $('#servingNumberB').html(data.ServiceNumber);
                                $('#servingTypeB').html(data.ServiceType);
                                $("#servedB, #canceledB").attr("disabled", false);
                                $("#nextB").attr("disabled", true);
                            }
                        }
                        updateWaitingLists();
                    },
                    error: function(r, e) {
                        alert('Greska!');
                    }

                });
            }

            $("#canceledA").click(function() {
                var n = $("#servingNumberA").text();
                var t = $("#servingTypeA").text();
                cancelServing(t, n, 'A');
            });

            $("#canceledB").click(function() {

                var n = $("#servingNumberB").text();
                var t = $("#servingTypeB").text();
                cancelServing(t, n, 'B');
            });

            function cancelServing(type, number, whoIsCanceling) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CancelServing", "Home")",
                    data: { serviceType: type, serviceNumber: number },
                    success: function(data) {
                        if (whoIsCanceling == 'A') {
                            $("#nextA").attr("disabled", false);
                            $("#servedA, #canceledA").attr("disabled", true);
                        }

                        if (whoIsCanceling == 'B') {
                            $("#nextB").attr("disabled", false);
                            $("#servedB, #canceledB").attr("disabled", true);
                        }
                    },
                    error: function(r, e) {
                        alert("Mistake!");
                    }
                });
            }

            $("#servedA").click(function() {
                $("#nextA").attr("disabled", false);
                $("#servedA, #canceledA").attr("disabled", true);
                var n = $("#servingNumberA").text();
                var t = $("#servingTypeA").text();
                served(t, n, 'A');
            });

            $("#servedB").click(function() {
                //$("#nextB").attr("disabled", false);
                //$("#servedB, #canceledB").attr("disabled", true);
                var n = $("#servingNumberB").text();
                var t = $("#servingTypeB").text();
                served(t, n, 'B');
            });

            function served(type, number, whoIsServing) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Served", "Home")",
                    data: { serviceType: type, serviceNumber: number },
                    success: function(data) {
                        if (whoIsServing == 'A') {
                            $("#nextA").attr("disabled", false);
                            $("#servedA, #canceledA").attr("disabled", true);
                        }

                        if (whoIsServing == 'B') {
                            $("#nextB").attr("disabled", false);
                            $("#servedB, #canceledB").attr("disabled", true);
                        }
                    },
                    error: function(r, e) {
                        alert("Mistake!");
                    }
                });
            }

            function updateWaitingLists() {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetWaitingList", "Home")",
                    success: function(data) {
                        var tableA = $("#tableA");
                        var tableB = $("#tableB");
                        var tableAContent = '';
                        var tableBContent = '';
                        $.each(data, function(index, item) {
                            tableAContent += "<tr><td>" + item.ServiceNumber.toString() + "</td>" +
                                "<td>" + item.ServiceType.toString() + "</td></tr>";
                        });
                        var typeB = '';
                        var typeA = '';
                        $.each(data, function(index, item) {
                            if (item.ServiceType == 'B') {
                                typeB += "<tr><td>" + item.ServiceNumber.toString() + "</td>" +
                                    "<td>" + item.ServiceType.toString() + "</td></tr>";
                            } else {
                                typeA += "<tr><td>" + item.ServiceNumber.toString() + "</td>" +
                                "<td>" + item.ServiceType.toString() + "</td></tr>";
                            }
                        });
                        tableA.html(tableAContent);
                        tableB.html(typeB + typeA);
                    },
                    error: function(r, e) {
                        alert("Error populating tables!");
                    }
                });
            }
        });
    </script>
}